<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<link id="favicon" rel="shortcut icon" type="image/png" href="{{ "/assets/icons/site-icon.png?v=" | append: site.github.build_revision | relative_url }}" />
{% seo %}
<!-- Fonts and icons     -->
<link rel="stylesheet" href="https://macaulish.net/utils/fontawesome-pro-5/css/all.min.css" integrity="sha384-9ralMzdK1QYsk4yBY680hmsb4/hJ98xK3w0TIaJ3ll4POWpWUYaA2bRjGGujGT8w" crossorigin="anonymous">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<!-- GitHub CSS -->
<link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
<link rel="stylesheet" href="{{ "/assets/css/bare.css?v=" | append: site.github.build_revision | relative_url }}">
<title>{{ page.title }} | {{ site.title }}</title>
</head>
<body id="theme-notion">
<div class="row no-gutters flex-xl-nowrap page-wrapper">
    <main class="page-main" role="main">
        <div class="main-inner">
            <div class="row main-menu-bar">
                <div class="col text-left">
                    <a id="sidebar-toggle" href="#"><i class="far fa-bars"></i></a>
                </div>
                <div class="col text-right">
                    <i class="far fa-ellipsis-h"></i>
                    <i class="far fa-share"></i>
                    <i class="far fa-history"></i>
                </div>
            </div>
            <div class="page-content markdown-body">
                {{ content }}
            </div>
        </div>
    </main>
</div>
</body>
</html>
